@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@1,300&display=swap');
/*Set wildcard and override defaults*/
* {
    margin: 0;
    padding: 0;
    border: none;
}
/*Set body font*/
body {
    font-family: roboto, sans-serif;
}